:root {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.select_cupon {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(5, 75px);
}


.lottery_ball {
  color: black;
  border-radius: 50%;
  border: 0;
  background-color: lightgray;
  cursor: pointer;
}

.selectable_ball {
  font-size: 200%;
  height: 75px;
  width: 75px;
}

.selected {
  background-color: red;
}

.preview_ball {
  padding-top: 0.5%;
  height: 25px;
  width: 25px;
}

.show_selected {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}